h5{
    background-color: orange;
}
.text{
    padding: 5px;
    background-color: white;
    
}
.col{
    background-color: #ebebf3;
    padding: 5px;
    
} 
.titre{
    background-color: rgb(206, 139, 62);

}
